@charset "utf-8";

// Import Lato Google Font
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");

// Update Bulma's global variables
$family-sans-serif: "Lato", sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: false;

// More theme colors could be added here...
$primary: #454545;

$spaces: (
  "0": 0,
  "1": 1.65rem,
  "2": 1.75rem,
);

$margin-default: map-get($spaces, "2") map-get($spaces, "0");

// Update some of Bulma's component & color variables
$footer-padding: 3rem 1.5rem;
$link: #f14668;

// Custom Styles
.footer,body{
  background: whitesmoke!important;
}
hr{
  background-color: lightgray!important;
}
.card-gap {
  margin-top: 1.75rem;
}
.modal-trigger {
  cursor: pointer;
}
a.icon > strong {
  margin-left: 0.25rem;
}
.modal-card-body div.content {
  margin: $margin-default;
}
.card {
  padding: 15px; 
  border: 1px solid #eee; 
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
  transition: all .3s ease-in-out;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -5px, 0px);
}
.card {
  border-radius: 10px;
}
hr {
  margin-top: 0px !important;
}
h1 {
  margin-bottom: 10px !important;
}

// import everything - alternatively import just what you need: https://bulma.io/documentation/overview/modular/
@import "~bulma/bulma";

// override specific bulma styles
.section {
  padding: 3.5rem 1.5rem;
}

@function theme-color($key: "primary") {
  @return map-get($theme-colors, $key);
}
